:root {
  --font-open-sans: 'Open Sans', sans-serif;
  --color-blue-bell: #a491d2;
  --color-soap: #cdc3e6;
  --color-pale-lavender: #d4dcff;
  --color-white: #fff;
  --color-platinum: #e8ebe4;
  --color-gray: #bec1bb;
  --color-dark-jungle: #1b1f21;
  --color-outer-space: #444749;
  --color-old-silver: #828485;
  --font-large: 2.8125rem;
  --font-medium: 1rem;
  --font-small: 0.875rem;
  --font-x-small: 0.625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input {
  font-family: var(--font-open-sans);
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.nav-chat {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid var(--color-platinum);
}

.user-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border-bottom: 2px solid var(--color-platinum);
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-image {
  margin-right: 10px;
}

.user-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid var(--color-platinum);
}

.user-profile .user-data h3 {
  font-size: var(--font-medium);
  color: var(--color-dark-jungle);
}

.user-profile .user-data p {
  font-size: .8rem;
  color: var(--color-gray);
  font-weight: 300;
}

.action-menu {
  display: flex;
  align-items: center;
  color: var(--color-gray);
}

.action-menu i {
  font-size: 1.2rem;
  cursor: pointer;
}

.action-menu i + i {
  margin-left: 15px;
}

.action-menu i:hover {
  cursor: pointer;
}

.new-chat {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--color-platinum);
}

.new-chat button {
  color: var(--color-white);
  padding: 10px 60px;
  font-size: 1.2rem;
  background-color: var(--color-blue-bell);
  border: none;
  cursor: pointer;
}

.new-chat button:hover {
  background-color: var(--color-soap);
}

.new-chat button:focus {
  background-color: var(--color-old-silver);
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 12px 40px;
  border-bottom: 2px solid var(--color-platinum);
}

.chat-item:hover {
  background-color: var(--color-pale-lavender);
  cursor: pointer;
}

.chat-item .user-image img {
  width: 70px;
  height: 70px;
}

.chat-item .user-data h3 {
  font-weight: 500;
}

.chat-item .user-data p {
  font-size: var(--font-small);
}

.chat {
  background-color: #fafafa;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat img {
  width: 300px;
  margin-top: 2rem;
}

.chat h2, h4 {
  color: var(--color-outer-space);
}

.chat h2 {
  font-size: var(--font-large);
  font-weight: 500;
}

.chat h4 {
  font-weight: 400;
  text-align: center;
}